/* Chatbot.css */

@font-face {
    font-family: 'Lato-Regular';
    src: url(../fonts/Lato-Black.ttf)
}

.chatbot-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 18.2%;
    padding: 16px;
    padding-bottom: 4%;
}

.chatbot-messages {
    height: 400px;
    overflow-y: scroll;
    padding: 8px;
}

.message {
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    font-family: Lato-Regular; 
}

.user-message {
    background-color: #fff;
    color: black;
    text-align: right;
    font-family: Lato-Regular; 
}

.dialogflow-message {
    background-color: #ffa500;
    text-align: left;
    font-family: Lato-Regular; 
}

.chatbot-input-form {
    display: flex;
    margin-top: 16px;
}

.chatbot-input-form input {
    flex: 1;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    font-family: Lato-Regular; 
    margin-right: 0.5%;
}

.chatbot-input-form button {
    padding: 8px 16px;
    border: none;
    background-color: #ffa500;
    color: #fff;
    border-radius: 0 4px 4px 0;
    font-size: 16px;
    cursor: pointer;
    font-family: Lato-Regular; 
}

.chatbot-input-form button:hover {
    background-color: #fff;
    color: black;
}
