*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lato-Black';
    src: url(fonts/Lato-Black.ttf);
}

/* nav bar */

.navBar {
    background-color: #FFAC1C;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adding shadow effect */
}

.title {
    font-size: 1.5em; 
    font-weight: bold;
    font-family: Lato-Black;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar li {
    margin: 0 10px; 
}

.navBar a {
    text-decoration: none;
    color: black;
    padding: 14px 10px;
    font-weight: bold;
    font-family: Lato-Black;
    font-size: 20px;
}

.navBar a:hover {
    color: #F1F1F1;
}

/* splitting the page into two */

.container {
    display: flex;
    /* height: 92vh; */
}

.leftPanel, .rightPanel {
    flex: 1;
    box-sizing: border-box;
}

.leftPanel p{
    float: left;
}

.rightPanel p{
    float: right;
}

.leftPanel p, .rightPanel p{
    padding: 20px;
    font-weight: bold;
}

.leftPanel{
    border-right: 2px solid black;
}

.rightPanel{
    border-left: 2px solid black;
}

/* dark mode */

.container.dark-mode {
    background-color: #0F0F0F;
    color: #F1F1F1;

    .leftPanel{
        border-right: 2px solid white;
    }
    
    .rightPanel{
        border-left: 2px solid white;
    }
}

.darkModeSwitch{
    display: flex;
}

.darkModeSwitch p{
    margin-right: 10px;
    font-family: Lato-Black;
    font-size: 20px;
    font-weight: bold;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: black;
}
  
input:checked + .slider:before {
    transform: translateX(26px);
}

/* cameraAccess */

.leftPanelCamera h2{
    margin-top: 2.2%;
    margin-bottom: 4%;
    font-family: Lato-Black;
    font-size: 35px;
}

.cameraControls h2{
    margin-top: -0.2%;
}

.cameraControls .switch{
    margin-bottom: 5px;
    margin-left: -60%;
}

.cameraControls div p{
   margin: -2% 0 0 6%;
   font-family: Lato-Black;
   font-size: 18px;
}

.cameraControls .switch input:checked + .slider {
    background-color: black;
}

.predictButton {
    padding: 9px 16px;
    background-color: #ffa500;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: Lato-Black;
    font-size: 13px;
    margin-bottom: 1%;
    margin-left: 50%;
}

.predictButton:hover {
    background-color: #FFC000;
}

.predictionOverlay{
    color: #FFAC1C;
}

/* site overlay */

.site-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity 0.3s ease; 
}

.site-overlay.closing, .aboutPopup.closing, .contactPopup.closing {
    opacity: 0; 
}

.overlay-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    transition: transform 0.3s ease; 
    transform: scale(1);
}

.site-overlay.closing .overlay-content {
    transform: scale(0.8); 
}

.overlay-content h2,
.aboutPopup-content h2 {
    margin-bottom: 20px;
    text-align: center;
}

.overlay-content p:nth-of-type(1) {
    font-weight: bold;
    margin-bottom: 20px;
}

.overlay-content p:not(:first-of-type) {
    margin-bottom: 3px;
}

.overlay-content button,
.aboutPopup-content button,
.contactPopup-content button {
    margin-top: 28px;
    cursor: pointer;
    background-color: #ffa500;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease; 
    cursor: pointer;
}

.overlay-content button:hover,
.aboutPopup-content button:hover {
    background-color: #ffa500;
}

/* Pop up pages */

.aboutPopup, .contactPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.aboutPopup-content, .contactPopup-content {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    text-align: center;
    border-radius: 8px;
    transform: scale(1);
    transition: transform 0.3s ease; 
}

.aboutPopup.closing .aboutPopup-content, .contactPopup.closing .contactPopup-content {
    transform: scale(0.8); 
}

.aboutPopup-content p, .contactPopup-content p {
    text-align: left;
}

.contactPopup-content p:nth-of-type(1), .contactPopup-content p:nth-of-type(2) {
    margin-top: 5%;
}

@media (max-width: 768px) {

    .container.dark-mode {
        .leftPanel{
            border-right: none;
        }
        
        .rightPanel{
            border-left: none;
        }
    }

    .container {
        display: flex;
        flex-direction: column; /* Stack items vertically */
    }
    
    .leftPanel, .rightPanel {
        flex: 1;
        box-sizing: none;
    }

    .rightPanel{
        margin-top: 10%;
    }

    .leftPanel{
        border-right: none;
    }
    
    .rightPanel{
        border-left: none;
    }
}